*~
.DS_Store
ParseStarterProject/bin/
ParseStarterProject/gen/
ParseStarterProject/.settings/
ParseStarterProject/.classpath
DiversityTestApp/bin/
DiversityTestApp/gen/
ParseStarterProject/proguard/
google-play-services_lib/
